@{
    ViewBag.Title = "Home Page";
}



<div class="container">
    <div class="row">
        <div class="container" id="hello">
            <contain class="row">
                <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Login</a>
                <a href="@Url.Action("Registration", "Home")" class="btn btn-success">Registration</a>
                <a href="@Url.Action("Forgetpassword", "Home")" class="btn btn-success">Forgot Passsword</a>
        </div>
    </div>
</div>
</div>











